@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style type="text/css">
    .bg { /* The image used */
       
        width: 100%;
        
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
</style>

@*<div class="bg"></div>*@
<img src="~/images/r0_265_5184_3191_w1200_h678_fmax.jpg" class="bg img-fluid img-responsive" />